
name: docker-build
on: [push, pull_request]
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker Image
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: docker build . -t latest