
name: docker-build
on: [push, pull_request]
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker Image
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: docker build . -t latest